pydantic
langchain
langchain-openai
langchain-groq
langchain-anthropic
langchain-core
langchain-community
anthropic
defusedxml
pypdf
pymupdf
bs4
arxiv
wikipedia
langchain_huggingface
python-dotenv
sentence-transformers
faiss-cpu
langchain_google_genai
pandas
langchain-pinecone
youtube_search
langgraph
duckduckgo-search
yfinance
langgraph
langchain-tavily
matplotlib
seaborn
autogen-agentchat
autogen-core
autogen-ext
ollama
json-schema-to-pydantic
openai-agents
docker
autogen-ext[docker]
autogen-ext[mcp]
openai-agents[litellm]
chromadb
rank_bm25
weaviate-client
cohere